@model ProjectManagerUI.ViewModels.ProjectTaskViewModel

@{
    ViewBag.Title = "DisplayProjectTask";
}


<h1>Project Details</h1>

<p>ProjectId : @Model.ProjectId </p>
<p>ProjectTitle  : @Model.ProjectTitle</p>
<p>ProjectStartDate : @Model.ProjectStartDate </p>
<p>ProjectEndDate  : @Model.ProjectEndDate</p>
<p>EmployeeId : @Model.EmployeeId </p>



      

                @Html.ActionLink("Add Tasks", "AddTask", "ProjectTask", new { id = Model.ProjectId }, null)

  
   



<h1>All Tasks are</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TaskStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TaskEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TaskPriority)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.EmployeeId)
        </th>
    </tr>
    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.TaskStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.TaskEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.TaskPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.EmployeeId)
            </td>

        </tr>
    }
</table>


@*<h1>All Tasks are</h1>
    @foreach (var task in Model.Tasks)
    {
        <p>Id : @task.TaskId </p>
        <p>Name  : @task.TaskName</p>
        <p>Employee :@task.EmployeeId</p>
    }*@



@*@using (Html.BeginForm("AddTask", "Task", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.TaskId)

        @Html.LabelFor(m => m.TaskName)
        @Html.EditorFor(m => m.TaskName)
        <br />
        @Html.LabelFor(m => m.TaskStartDate)
        @Html.EditorFor(m => m.TaskStartDate)
        <br />
        @Html.LabelFor(m => m.TaskEndDate)
        @Html.EditorFor(m => m.TaskEndDate)
        <br />
        @Html.LabelFor(m => m.TaskPriority)
        @Html.EditorFor(m => m.TaskPriority)
        <br />
        @Html.LabelFor(m => m.TaskStatus)
        @Html.EditorFor(m => m.TaskStatus)
        <br />
        @Html.LabelFor(m => m.ProjectId)
        @Html.EditorFor(m => m.ProjectId)
        <br />
        @Html.LabelFor(m => m.EmployeeId)
        @Html.EditorFor(m => m.EmployeeId)
        <br />
        <input type="submit" value="Add Task" />

    }*@

